@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: darkslategray;
}
button {
  cursor: pointer;
}
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #c7e5d2;
}
.firstview {
  height: 15%;
}
.secondview {
  display: flex;
  height: 85%;
}
.header {
  padding-top: 15px;
}
.logo {
  float: left;
  font-size: 30px;
  margin-left: 50px;
  padding: 10px 0;
  font-weight: bolder;
}
.controls {
  float: right;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
}
.cart_cntl {
  padding: 5px;
  position: relative;
  margin-right: 20px;
}
.cart_cntl button {
  border: teal solid 2px;
  background-color: rgba(1, 1, 1, 0);
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
.cart_cntl button:hover {
  background-color: teal;
  border: solid teal 2px;
  color: white;
}
.cart_modal {
  position: absolute;
  width: 400px;
  background-color: #969696;
  right: 6%;
  top: 14%;
  border-radius: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.cart_item {
  width: 90%;
  height: 18vh;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #91e0ba;
  border-radius: 5px;
  display: flex;
  position: relative;
}
.cart_item img {
  width: 8vw;
  height: 16vh;
  margin: 5px;
  border-radius: 5px;
}
.cart_item p {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.cart_item button {
  padding: 8px 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: solid teal 2px;
  border-radius: 5px;
  right: 2%;
  bottom: 5%;
  font-weight: bolder;
}
.cart_item button:hover {
  background-color: teal;
  color: white;
}
.items_cnt {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(67, 95, 255);
  font-weight: bold;
  color: white;
}
.user_info {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  font-size: 18px;
  font-weight: bold;
}
.user_info img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.sider {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sider button {
  border: none;
  width: 80%;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 18px;
}
.sider button:hover {
  outline: solid teal 2px;
}
.content {
  width: 80%;
  padding: 0 30px;
}
.banner {
  padding: 20px 0;
  font-size: 20px;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 0;
}
.product {
  height: 33vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.product_image {
  height: 25vh;
  width: 10vw;
  border-radius: 5px;
}
.product p {
  width: 10vw;
  text-align: right;
  padding: 5px;
  font-weight: bold;
}
.product button {
  width: 10vw;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0);
  border: solid darkslategray 1px;
  border-radius: 5px;
  font-weight: bold;
}
.product button:hover {
  background-color: teal;
  color: white;
  border: solid teal 1px;
}
